
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 87, 87);
}

.high-score-container{
    color: white;
    display: flex;
    width: 60vmin;
    justify-content: space-evenly;
    margin: 1rem;
    font-size: clamp(0.8rem, 3vmin, 1.3rem);
    text-transform: uppercase;
}

#game-board{
    background-color: #af9e9e;
    width: 60vmin;
    height: 60vmin;
    min-width: 200px;
    min-height: 200px;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

#game-board div{
    border: 1px solid black;
    position: relative;
}
.snake{
    background-color: hsl(120, 63%, 39%);
    border: 0.25vmin solid black
}
.snake-head{
    background-color: hsl(120, 64%, 21%);
    border: 0.25vmin solid black;
    /* border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; */
}
.snake-tail{
    background-color: hsl(120, 63%, 39%);
    border: 0.25vmin solid black;
}

.food{
    width: 70%;
    height: 70%;
    background-color: hsl(29, 71%, 64%);
    border: 0.25vmin solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.level{
    margin-top: 1rem;
    font-size: clamp(0.8rem, 3vmin, 1.4rem);
    padding: 5px 40px;
    background-color: bisque;
    border-radius: 10px;
}

.start-button{
    font-size: clamp(1rem, 3vmin, 1.3rem);
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer
}

.start-button:hover{
    background-color:beige
}

.replay-button{
    font-size: clamp(1rem, 3vmin, 1.3rem);
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.replay-button:hover{
    background-color:beige
}

.game-text{
    margin-top: 10px;
    font-size: clamp(0.8rem, 3vmin, 1.0rem);
    color: white
}